<h1> Transactions for <%= user.username %> </h1>

<div class="containter">
  <div class="row">
    <div class="col">description</div>
    <div class="col">amount</div>
    <div class ="col">category</div>
    <div class ="col">date</div>
    <div class="col">delete</div>
    <div class="col">edit</div>
  </div>
    <% items.forEach(item => { %>
      <li class="list-group-item">
        <%= item.description %>
      <li class="list-group-item">
        <%= item.amount %>
      <li class="list-group-item">
        <%= item.category %>
      <li class="list-group-item">
        <%= item.date %>
   <% }) %>
</div>   

        <form method="post" action="transactions">
            <input type="text" placeholder = "description" name="description">
            <br>
            <input type="text" placeholder = "category" name="category">
            <br>
            <input type="text" placeholder = "amount" name="amount">
            <br>
            <input type="date" name="date">
            <br>
            <input type="submit" value="store">
        </form>
      </div>
     
    </div>
</div>
